.sign__input {
    border: none;
    background-color: black;
    border-bottom: 2px solid #CCC;
    margin-top: 28px;
    padding: 0 0 11px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    width: 100%;
    outline: none;
}