.profile__add-button-img {
    width: 22px;
    height: 22px;
    margin: auto;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profile__add-button-img {
        height: 16px;
        width: 16px;
    }
}